* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.row {
  display:block;
  width:100%;
  padding:10px 10px 10px 10px;
}
.cell{
  width:8%;
  display:table-cell;
  height:37px;
  margin: 0;
  padding: 0 2px 0 2px;
}
.form {
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  padding-top:10px;
  padding-right:15px;
  padding-bottom:10px;
  padding-left:15px;
  background-color:rgba(0,0,0,0);
}
.input{
  width:100%;
  margin-bottom:15px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  border-image-repeat:stretch;
  border-image-source:none;
  -moz-border-top-colors:none;
  -moz-border-left-colors:none;
  -moz-border-bottom-colors:none;
  -moz-border-right-colors:none;
  color:#000000;
  background-color:rgba(0,0,0,0);
  border:1px solid black;
}
.textarea{
  width:100%;
  margin-bottom:15px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  border-image-repeat:stretch;
  border-image-source:none;
  -moz-border-top-colors:none;
  -moz-border-left-colors:none;
  -moz-border-bottom-colors:none;
  -moz-border-right-colors:none;
  color:#000000;
  background-color:rgba(0,0,0,0);
  border:1px solid black;
}
.select{
  width:100%;
  margin-bottom:15px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  border-top-color:currentcolor;
  border-top-style:none;
  border-top-width:medium;
  border-left-color:currentcolor;
  border-left-style:none;
  border-left-width:medium;
  border-bottom-color:currentcolor;
  border-bottom-style:none;
  border-bottom-width:medium;
  border-right-color:currentcolor;
  border-right-style:none;
  border-right-width:medium;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  -moz-border-top-colors:none;
  -moz-border-left-colors:none;
  -moz-border-bottom-colors:none;
  -moz-border-right-colors:none;
  float:none;
  color:#000000;
  background-color:rgba(0,0,0,0);
  border:1px solid black;
  letter-spacing:normal;
  font-size:14px;
}
.label{
  width:100%;
  display:inline;
}
.button{
  width:100%;
  margin-top:15px;
  margin-right:0px;
  margin-bottom:15px;
  margin-left:0px;
  border-top-color:currentcolor;
  border-top-style:none;
  border-top-width:medium;
  border-left-color:currentcolor;
  border-left-style:none;
  border-left-width:medium;
  border-bottom-color:currentcolor;
  border-bottom-style:none;
  border-bottom-width:medium;
  border-right-color:currentcolor;
  border-right-style:none;
  border-right-width:medium;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  -moz-border-top-colors:none;
  -moz-border-left-colors:none;
  -moz-border-bottom-colors:none;
  -moz-border-right-colors:none;
  color:rgb(255, 255, 255);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  font-size:1em;
  cursor:pointer;
  background-color:#c0c0c0;
}
.navbar-items-c{
  display:inline-block;
  float:right;
}
.navbar{
  background-color:#c0c0c0;
  color:#000000;
  min-height:50px;
  width:100%;
}
.navbar-container{
  max-width:950px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  width:95%;
}
.navbar-container::after{
  content:"";
  clear:both;
  display:block;
}
.navbar-brand{
  vertical-align:top;
  display:inline-block;
  padding-top:5px;
  padding-right:5px;
  padding-bottom:5px;
  padding-left:5px;
  min-height:50px;
  min-width:50px;
  color:inherit;
  text-decoration-line:none;
  text-decoration-style:solid;
  text-decoration-color:currentcolor;
}
.navbar-menu{
  padding-top:10px;
  padding-right:0px;
  padding-bottom:10px;
  padding-left:0px;
  display:block;
  float:right;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
.navbar-menu-link{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  color:inherit;
  text-decoration-line:none;
  text-decoration-style:solid;
  text-decoration-color:currentcolor;
  display:inline-block;
  padding-top:10px;
  padding-right:15px;
  padding-bottom:10px;
  padding-left:15px;
}
.navbar-burger{
  margin-top:10px;
  margin-right:0px;
  margin-bottom:10px;
  margin-left:0px;
  width:45px;
  padding-top:5px;
  padding-right:10px;
  padding-bottom:5px;
  padding-left:10px;
  display:none;
  float:right;
  cursor:pointer;
}
.navbar-burger-line{
  padding-top:1px;
  padding-right:1px;
  padding-bottom:1px;
  padding-left:1px;
  background-color:white;
  margin-top:5px;
  margin-right:0px;
  margin-bottom:5px;
  margin-left:0px;
}
@media (max-width: 768px){
  .cell{
    width:100%;
    display:block;
  }
  .navbar-burger{
    display:block;
  }
  .navbar-items-c{
    display:none;
    width:100%;
  }
  .navbar-menu{
    width:100%;
  }
  .navbar-menu-link{
    display:block;
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.th, .td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tr:hover {background-color:#f5f5f5;}

