<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
        </nav>
    </div>
</div>

<form class="form">
    <div class="form-group">
    </div>
    <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
            <div class="row">
                <div class="cell">
                    <div class="row">
                        <div class="cell">
                            <input ng-model="login" class="input" placeholder="Login"/>
                            <input ng-model="passwd" type="password" class="input" placeholder="Password"/>
                        </div>
                        <div class="row">
                            <div ng-init="userType='common'" />
                            <!--<input type="radio" ng-model="userType" value="admin" class="radio">Администратор -->
                            <input type="radio" ng-model="userType" value="common" class="radio" checked ng-init="userType='common'">Обычный пользователь
                            <!--<input type="radio" ng-model="userType" value="adv" class="radio">Рекламодатель -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <button ng-click="signIn()" class="button">Войти</button>
                        </div>
                        <div class="cell">
                            <button ng-click="setRegister()" class="button" ng-show="!isRegister">Зарегистрироваться</button>
                        </div>
                    </div>

                    <br/><br/>

                    <div ng-show="isRegister" class="row">
                        <div class="row">
                            <div class="cell">
                                <input ng-model="loginReg" class="input" placeholder="Логин"/>
                                <input ng-model="password1" type="password" class="input" placeholder="Пароль"/>
                                <input ng-model="password2" type="password" class="input" placeholder="Повтор пароля"/>
                            </div>
                        </div>
                        <div ng-show="isCommon()" class="row">
                            <input ng-model="name" class="input" placeholder="Имя"/>
                            <input ng-model="contacts" class="input" placeholder="Контакты"/>
                            <input ng-model="about" class="textarea" placeholder="О себе"/>
                        </div>
                        <div ng-show="isAdvertiser()" class="row">
                            <input ng-model="name" class="input" placeholder="Наименование"/>
                            <input ng-model="contacts" class="input" placeholder="Контакты"/>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <button ng-click="registerUser()" ng-enter="registerUser()"
                                        class="button">Зарегистрироваться
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
        <div class="cell">
        </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
</form>
