<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a class="navbar-menu-link" onclick="window.location.href='/#/common'">На главную</a>
        </nav>
    </div>
</div>

<form class="form">
    <h1>{{publication.title}}</h1>

    <p>Опубликовано {{publication.creationTime | date:'medium'}} by <a href="/#/common/view{{publication.author.id}}">{{publication.author.name}}</a></p>

    <img ng-show="publication.url.length > 0" src="{{publication.url || '#'}}" alt="картинка" width="240" height="180" />

    <p>
        Комментарии ({{publication.comments.length || 0}}):
        <input type="button" value="Обновить" ng-click="updatePublication()" />
    </p>
    <div>
        <div class="tr" ng-repeat="com in publication.comments" ng-click="viewPublication(pub.id)">
            <b>{{com.author.name}}:</b> {{com.text}}
        </div>
        <br/>
    </div>

    <div>
        <input type="text" ng-model="newComment" ng-enter="addComment()" placeholder="Текст комментария" />
        <input type="button" value="Комментировать" ng-click="addComment()" />
    </div>
</form>