<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a class="navbar-menu-link" onclick="window.location.href='/#/login'">Выход</a>
        </nav>
    </div>
</div>

<form class="form">
    <h2>Hello, {{user.name}}!</h2>

    <div>
        <input type="button" value="Новая публикация" ng-show="!editing" ng-click="editing = true"/>
        <div ng-show="editing">
            <input type="text" ng-model="newPublication.title" placeholder="Заголовок"/>
            <input type="text" ng-model="newPublication.url" placeholder="URL-адрес изображения"/>
            <label>
                Только для подписчиков
                <input type="checkbox" ng-model="newPublication.onlySubs">
            </label>
            <input type="button" value="Опубликовать" ng-click="publish()"/>
            <input type="button" value="Отменить" ng-click="editing = false"/>
        </div>
    </div>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th class="th"></th>
            <th class="th">
                <h3>Последние публикации</h3>
                <input type="button" value="Обновить" ng-click="refreshPublications()">
            </th>
            <th class="th"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr" ng-repeat="pub in publications" ng-click="viewPublication(pub.id)">
            <td class="td">{{pub.creationTime | date:'medium'}}</td>
            <td class="td">{{pub.title}}</td>
            <td class="td">by {{pub.author.name}}</td>
            <td class="td">Комментариев: {{pub.comments.length || 0}}</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <div>Ваши подписки ({{user.subs.length || 0}}):</div>
    <!--<p ng-repeat="sub in user.subs">
        <a href="/#/common/view{{sub.id}}">{{sub.name}}</a>
    </p>-->
    <span ng-repeat="sub in user.subs">
        <a href="/#/common/view{{sub.id}}">{{sub.name}}</a>
    </span>
</form>