<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a class="navbar-menu-link" onclick="window.location.href='/#/login'">Выход</a>
        </nav>
    </div>
</div>

<form class="form">
    <h1>Nothing here, sorry :(</h1>
</form>