<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a class="navbar-menu-link" onclick="window.location.href='/#/common'">На главную</a>
        </nav>
    </div>
</div>

<form class="form">
    <h1>Main page of {{author.name || "loading..."}}</h1>

    <div>
        <div>Login: {{author.login || "Loading..."}}</div>
        <div>Contacts: {{author.contacts || "-"}}</div>
        <div>About: {{author.about || "-"}}</div>
    </div>

    <input type="button"
           value="{{subscribed ? 'От' : 'Под'}}писаться" ng-click="subscribe()"
           ng-show="user.id != author.id || false"/>

    <hr>

    <table class="table">
        <thead>
        <tr>
            <th class="th"></th>
            <th class="th">
                <h3>Все публикации пользователя ({{publications.length || 0}})</h3>
            </th>
            <th class="th"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr" ng-repeat="pub in publications" ng-click="viewPublication(pub.id)">
            <td class="td">{{pub.creationTime | date:'medium'}}</td>
            <td class="td">{{pub.title}}</td>
            <td class="td">Комментариев: {{pub.comments.length || 0}}</td>
        </tr>
        </tbody>
    </table>
</form>